#%RAML 0.8
title: company tree
baseUri: https://entitymanagerdemo.iqmetrix.net/v1

/Companies({CompanyId}):
    uriParameters:
        
        CompanyId:
            displayName: CompanyId
            type: integer
            example: 14146
            description: |
                Identifier for the {{Company}} 
            required: true
          
      
    get:
        displayName: Getting a Company
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
        body:
            
    

/Companies({CompanyId})/Tree:
    uriParameters:
        
        CompanyId:
            displayName: CompanyId
            type: integer
            example: 14146
            description: |
                Identifier for the {{Company}} 
            required: true
          
      
    get:
        displayName: Getting a Company Tree
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
        body:
            
    

/Companies({CompanyId})/Tree/Nodes({NodeId})/Locations:
    uriParameters:
        
        CompanyId:
            displayName: CompanyId
            type: integer
            example: 14146
            description: |
                Identifier for the {{Company}} 
            required: true
        
        NodeId:
            displayName: NodeId
            type: integer
            example: 14159
            description: |
                Identifier of the parent for the {{Location}} 
            required: true
          
      
    post:
        displayName: Creating a Location
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
            Content-Type:
                example: application/json
            
        body:
            
            application/json:
                
                
                example: |  
                    {"Id":14202,"Name":"Dufferin Mall","Description":"This Location is used to clear out discounted inventory","Roles":[{"Name":"Location"}],"CreatedUTC":"2015-02-26T00:03:01.372Z","LastModifiedUTC":"2015-02-27T00:03:06.392Z","Area":{"Value":1100,"Unit":"SqFt"},"Address":{"AddressLine1":"4970 Hillside Avenue","AddressLine2":"Apt 115","City":"Edmonton","StateCode":"ON","StateName":"Ontario","CountryCode":"CA","CountryName":"Canada","Zip":"P9H 9I4"},"Attributes":{},"ClientEntityId":"123","Contacts":[{"Name":"John Smith","Description":"Store Manager","PhoneNumbers":[{"Description":"Main Line","Number":"5555555555","Extension":"1234"}]}],"Geography":{"Longitude":-104.612034,"Latitude":50.443559},"Relationships":[],"SortName":"dufferin mall","StoreHours":{"Monday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Tuesday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Wednesday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Thursday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Friday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Saturday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Sunday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}}},"StorePhoneNumbers":[{"Description":"Main Line","Number":"5555555555","Extension":"1234"}],"TimeZone":{"Id":"Alaskan Standard Time","DaylightSavingTimeEnabled":true},"Version":13}
                
            
    

/Companies({CompanyId})/Tree/Nodes({NodeId})/Locations({LocationId}):
    uriParameters:
        
        CompanyId:
            displayName: CompanyId
            type: integer
            example: 14146
            description: |
                Identifier for the {{Company}} 
            required: true
        
        NodeId:
            displayName: NodeId
            type: integer
            example: 14159
            description: |
                Identifier of the parent for the {{Location}} 
            required: true
        
        LocationId:
            displayName: LocationId
            type: string
            example: 14202
            description: |
                Identifier for the {{Location}} 
            required: true
          
      
    put:
        displayName: Updating a Location
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
            Content-Type:
                example: application/json
            
        body:
            
            application/json:
                
                
                example: |  
                    {"Id":14202,"Name":"Dufferin Mall","Description":"This Location is used to clear out discounted inventory","Roles":[{"Name":"Location"}],"CreatedUTC":"2015-02-26T00:03:01.372Z","LastModifiedUTC":"2015-02-27T00:03:06.392Z","Area":{"Value":1100,"Unit":"SqFt"},"Address":{"AddressLine1":"4970 Hillside Avenue","AddressLine2":"Apt 115","City":"Edmonton","StateCode":"ON","StateName":"Ontario","CountryCode":"CA","CountryName":"Canada","Zip":"P9H 9I4"},"Attributes":{},"ClientEntityId":"123","Contacts":[{"Name":"John Smith","Description":"Store Manager","PhoneNumbers":[{"Description":"Main Line","Number":"5555555555","Extension":"1234"}]}],"Geography":{"Longitude":-104.612034,"Latitude":50.443559},"Relationships":[],"SortName":"dufferin mall","StoreHours":{"Monday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Tuesday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Wednesday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Thursday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Friday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Saturday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Sunday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}}},"StorePhoneNumbers":[{"Description":"Main Line","Number":"5555555555","Extension":"1234"}],"TimeZone":{"Id":"Alaskan Standard Time","DaylightSavingTimeEnabled":true},"Version":13}
                
            
    

/Companies({CompanyId})/Locations({LocationId}):
    uriParameters:
        
        CompanyId:
            displayName: CompanyId
            type: integer
            example: 14146
            description: |
                Identifier for the {{Company}} 
            required: true
        
        LocationId:
            displayName: LocationId
            type: string
            example: 14202
            description: |
                Identifier for the {{Location}} 
            required: true
          
      
    get:
        displayName: Getting a Location for a Company
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
        body:
            
    

/Companies({CompanyId})/Locations:
    uriParameters:
        
        CompanyId:
            displayName: CompanyId
            type: integer
            example: 14146
            description: |
                Identifier for the {{Company}} 
            required: true
          
      
    get:
        displayName: Getting All Locations for a Company
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
        body:
            
    

/Companies({CompanyId})/Tree/Nodes({NodeId})/Divisions:
    uriParameters:
        
        CompanyId:
            displayName: CompanyId
            type: integer
            example: 14146
            description: |
                Identifier for the {{Company}} 
            required: true
        
        NodeId:
            displayName: NodeId
            type: integer
            example: 14159
            description: |
                Identifier of a Node 
            required: true
          
      
    post:
        displayName: Creating a Division
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
            Content-Type:
                example: application/json
            
        body:
            
            application/json:
                
                
                example: |  
                    {"Id":14159,"Name":"T-hut Wireless","Description":"Division of Kiosks","Roles":[{"Name":"Division"}],"ClientEntityId":"187","CreatedUTC":"2015-05-20T23:06:29.7700813Z","LastModifiedUTC":"2015-05-20T23:06:29.7700813Z","Attributes":{},"Logo":{"Id":"d22291d9-db1d-45e2-ab60-32ac9c145323","Name":"globe-rocket.jpg","Height":341,"Href":"https://amsdemostorage.blob.core.windows.net/assets/d22291d9-db1d-45e2-ab60-32ac9c145323.jpg","Md5Checksum":"d2d0b491ad3eecd9d8c3dabb0610197d","MimeType":"image/jpeg","Width":450},"Relationships":[],"SortName":"t-hut wireless","Version":1}
                
            
    

/Companies({CompanyId})/Tree/Nodes({NodeId})/Groups:
    uriParameters:
        
        CompanyId:
            displayName: CompanyId
            type: integer
            example: 14146
            description: |
                Identifier for the {{Company}} 
            required: true
        
        NodeId:
            displayName: NodeId
            type: integer
            example: 14159
            description: |
                Identifier of a Node 
            required: true
          
      
    post:
        displayName: Creating a Group
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
            Content-Type:
                example: application/json
            
        body:
            
            application/json:
                
                
                example: |  
                    {"Id":14166,"Name":"Toronto","Description":"Group within Ontario","Roles":[{"Name":"Group"}],"ClientEntityId":"187","CreatedUTC":"2015-05-20T23:06:29.7700813Z","LastModifiedUTC":"2015-05-20T23:06:29.7700813Z","Attributes":{},"Logo":{"id":"09fe1ee4-42b1-43a6-bd80-cd2bda21e90a","name":"49ebd282-4161-4a9d-9b40-a5a20d144b6f.png","height":1024,"href":"https://amsdemo.iqmetrix.net/images/09fe1ee4-42b1-43a6-bd80-cd2bda21e90a.png","md5Checksum":"1f88a2813737aa0019a63069586055ed","mimeType":"image/png","width":502,"success":true},"Relationships":[],"SortName":"toronto","Version":1}
                
            
    

/Companies({CompanyId})/Tree/Nodes({NodeId}):
    uriParameters:
        
        CompanyId:
            displayName: CompanyId
            type: integer
            example: 14146
            description: |
                Identifier for the {{Company}} 
            required: true
        
        NodeId:
            displayName: NodeId
            type: integer
            example: 14159
            description: |
                Identifier of a Node to be deleted 
            required: true
          
      
    delete:
        displayName: Deleting a Group or Division
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
        body:
            
    

/Entities({CompanyId})/Nodes?$filter={ClientEntityId}:
    uriParameters:
        
        CompanyId:
            displayName: CompanyId
            type: integer
            example: 14146
            description: |
                Identifier for the {{Company}} 
            required: true
        
        ClientEntityId:
            displayName: ClientEntityId
            type: string
            example: 123
            description: |
                The value to search for 
            required: true
          
      
    get:
        displayName: Searching by ClientEntityId
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
        body:
            
    
