#%RAML 0.8
title: supplier orders
baseUri: https://dropshipdemo.iqmetrix.net
schemas: 

    
    - OrderStatusUpdate: |
        {
          "name": "OrderStatusUpdate",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Id": { "type": "GUID", "description": "Identifier for the Dropship order", "example": "91a57ddb-2d42-402b-85b4-fe327a347313" },
            "Info": { "type": "string", "description": "General information about the item(s), such as tracking site, additional reference info, etc", "example": "www.ups.com" },
            "Message": { "type": "string", "description": "A reason for the status of an order", "example": "Error: Product '98ESP456' is unavailable" },
            "ShippingProvider": { "type": "string", "description": "Shipping carrier for the order", "example": "UPS" },
            "Status": { "type": "string", "description": "Current [OrderStatus](#orderstatus)", "putDescription": "Defaults to PendingSupplier", "example": "Shipped" },
            "TrackingInfo": { "type": "string", "description": "Tracking number for a shipped order", "example": "23923408863" },
            "ReferenceName": { "type": "string", "description": "Reserved for internal use", "example": "" },
            "ReferenceValue": { "type": "string", "description": "Reserved for internal use", "example": "" }   
          },
          "required": [ "Id" ]
        }
        

    

    
    - ItemStatusUpdate: |
        {
          "name": "ItemStatusUpdate",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Id": { "type": "GUID", "description": "Identifier for the Dropship order", "example": "91a57ddb-2d42-402b-85b4-fe327a347313" },
            "ItemInformation": { "type": "array", "arrayType": "object", "description": "A list of [ItemInformation](#iteminformation)", "ref": "supplier orders.ItemInformation" }
          },
          "required": [ "Id" ]
        }
        

    

    
    - ItemInformation: |
        {
          "name": "ItemStatusUpdate",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "CatalogId": { "type": "GUID", "description": "Identifier for the [Catalog](/api/catalog/#catalogitem) item", "example": "dbc2577a-021f-4bbf-8289" },
            "Info": { "type": "string", "description": "General information about the item(s), such as tracking site, additional reference info, etc", "example": "www.ups.com" },
            "Message": { "type": "string", "description": "A reason for the status of an order", "example": "Error: Product '98ESP456' is unavailable" },
            "ProductName": { "type": "string", "description": "Name of the product", "example": "239234SMS L720 BLU SPT RTD8863" },
            "Quantity": { "type": "integer", "description": "Used in the case of partial shipments", "example": "5" },
            "Status": { "type": "string", "description": "Current [ItemStatus](#itemstatus)", "putDescription": "Defaults to PendingSupplier", "example": "Exception" },
            "Sku": { "type": "string", "description": "Vendor SKU", "example": "9356SAMGL6S" },
            "ShippingProvider": { "type": "string", "description": "The shipping carrier that the product was shipped with", "example": "UPS" },          
            "TrackingInfo": { "type": "string", "description": "Tracking number for this shipped product", "example": "23923408863" },
            "ReferenceName": { "type": "string", "description": "Reserved for internal use", "example": "" },
            "ReferenceValue": { "type": "string", "description": "Reserved for internal use", "example": "" }   
        
          },
          "required": [ "Sku" ]
        }
        

    


/Suppliers({SupplierId})/Orders({OrderId})/OrderStatusUpdate:
    
    uriParameters:
        
        SupplierId:
            displayName: SupplierId
            type: integer
            example: 60455
            required: true
            description: 
        
        OrderId:
            displayName: OrderId
            type: string
            example: 0b05f9fb-1210-4494-b654-d051948716b4
            required: true
            description: 
          
      
    put:
        
        displayName: Updating Order Status
                
        
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
            Content-Type:
                example: application/json
            
        body:
            
            application/json:
                
                
                example: |  
                    
                    {"Id":"91a57ddb-2d42-402b-85b4-fe327a347313","Info":"www.ups.com","Message":"Error: Product '98ESP456' is unavailable","ShippingProvider":"UPS","Status":"Shipped","TrackingInfo":"23923408863"}
                    
                schema: |
                    {"name":"OrderStatusUpdate","type":"object","$schema":"http://json-schema.org/draft-03/schema","properties":{"Id":{"type":"GUID","description":"Identifier for the Dropship order","example":"91a57ddb-2d42-402b-85b4-fe327a347313"},"Info":{"type":"string","description":"General information about the item(s), such as tracking site, additional reference info, etc","example":"www.ups.com"},"Message":{"type":"string","description":"A reason for the status of an order","example":"Error: Product '98ESP456' is unavailable"},"ShippingProvider":{"type":"string","description":"Shipping carrier for the order","example":"UPS"},"Status":{"type":"string","description":"Current [OrderStatus](#orderstatus)","putDescription":"Defaults to PendingSupplier","example":"Shipped"},"TrackingInfo":{"type":"string","description":"Tracking number for a shipped order","example":"23923408863"},"ReferenceName":{"type":"string","description":"Reserved for internal use","example":""},"ReferenceValue":{"type":"string","description":"Reserved for internal use","example":""}},"required":["Id"]}
                
            
        responses:
            
            202:
                
                body:
                    
                    application/json:
                        
                            
                            example: |
                                {"Id":"91a57ddb-2d42-402b-85b4-fe327a347313","Info":"www.ups.com","Message":"Error: Product '98ESP456' is unavailable","ShippingProvider":"UPS","Status":"Shipped","TrackingInfo":"23923408863"}
                            schema: |
                                {"name":"OrderStatusUpdate","type":"object","$schema":"http://json-schema.org/draft-03/schema","properties":{"Id":{"type":"GUID","description":"Identifier for the Dropship order","example":"91a57ddb-2d42-402b-85b4-fe327a347313"},"Info":{"type":"string","description":"General information about the item(s), such as tracking site, additional reference info, etc","example":"www.ups.com"},"Message":{"type":"string","description":"A reason for the status of an order","example":"Error: Product '98ESP456' is unavailable"},"ShippingProvider":{"type":"string","description":"Shipping carrier for the order","example":"UPS"},"Status":{"type":"string","description":"Current [OrderStatus](#orderstatus)","putDescription":"Defaults to PendingSupplier","example":"Shipped"},"TrackingInfo":{"type":"string","description":"Tracking number for a shipped order","example":"23923408863"},"ReferenceName":{"type":"string","description":"Reserved for internal use","example":""},"ReferenceValue":{"type":"string","description":"Reserved for internal use","example":""}},"required":["Id"]}
                            
                        
                    
                
            
    

/Suppliers({SupplierId})/Orders({OrderId})/ItemStatusUpdate:
    
    uriParameters:
        
        SupplierId:
            displayName: SupplierId
            type: integer
            example: 60455
            required: true
            description: 
        
        OrderId:
            displayName: OrderId
            type: string
            example: 0b05f9fb-1210-4494-b654-d051948716b4
            required: true
            description: 
          
      
    put:
        
        displayName: Updating Item Status
                
        
        description: |            
            If products from an order have been split into multiple shipments, then the supplier must provide tracking numbers for each shipment.
            

        
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
            Content-Type:
                example: application/json
            
        body:
            
            application/json:
                
                
                example: |  
                    
                    {"Id":"91a57ddb-2d42-402b-85b4-fe327a347313","ItemInformation":[{"CatalogId":"dbc2577a-021f-4bbf-8289","Info":"www.ups.com","Message":"Error: Product '98ESP456' is unavailable","ProductName":"239234SMS L720 BLU SPT RTD8863","Quantity":5,"Status":"Exception","Sku":"9356SAMGL6S","ShippingProvider":"UPS","TrackingInfo":"23923408863"}]}
                    
                schema: |
                    {"name":"ItemStatusUpdate","type":"object","$schema":"http://json-schema.org/draft-03/schema","properties":{"Id":{"type":"GUID","description":"Identifier for the Dropship order","example":"91a57ddb-2d42-402b-85b4-fe327a347313"},"ItemInformation":{"type":"array","arrayType":"object","description":"A list of [ItemInformation](#iteminformation)","ref":"supplier orders.ItemInformation","properties":{"CatalogId":{"type":"guid","description":"Identifier for the [Catalog](/api/catalog/#catalogitem) item","example":"dbc2577a-021f-4bbf-8289","name":"CatalogId"},"Info":{"type":"string","description":"General information about the item(s), such as tracking site, additional reference info, etc","example":"www.ups.com","name":"Info"},"Message":{"type":"string","description":"A reason for the status of an order","example":"Error: Product '98ESP456' is unavailable","name":"Message"},"ProductName":{"type":"string","description":"Name of the product","example":"239234SMS L720 BLU SPT RTD8863","name":"ProductName"},"Quantity":{"type":"integer","description":"Used in the case of partial shipments","example":"5","name":"Quantity"},"Status":{"type":"string","description":"Current [ItemStatus](#itemstatus)","putDescription":"Defaults to PendingSupplier","example":"Exception","name":"Status"},"Sku":{"type":"string","description":"Vendor SKU","example":"9356SAMGL6S","name":"Sku"},"ShippingProvider":{"type":"string","description":"The shipping carrier that the product was shipped with","example":"UPS","name":"ShippingProvider"},"TrackingInfo":{"type":"string","description":"Tracking number for this shipped product","example":"23923408863","name":"TrackingInfo"},"ReferenceName":{"type":"string","description":"Reserved for internal use","example":""},"ReferenceValue":{"type":"string","description":"Reserved for internal use","example":""}},"required":["Sku"]}},"required":["Id"]}
                
            
        responses:
            
            202:
                
                body:
                    
                    application/json:
                        
                            
                            example: |
                                {"Id":"91a57ddb-2d42-402b-85b4-fe327a347313","ItemInformation":[{"CatalogId":"dbc2577a-021f-4bbf-8289","Info":"www.ups.com","Message":"Error: Product '98ESP456' is unavailable","ProductName":"239234SMS L720 BLU SPT RTD8863","Quantity":5,"Status":"Exception","Sku":"9356SAMGL6S","ShippingProvider":"UPS","TrackingInfo":"23923408863"}]}
                            schema: |
                                {"name":"ItemStatusUpdate","type":"object","$schema":"http://json-schema.org/draft-03/schema","properties":{"Id":{"type":"GUID","description":"Identifier for the Dropship order","example":"91a57ddb-2d42-402b-85b4-fe327a347313"},"ItemInformation":{"type":"array","arrayType":"object","description":"A list of [ItemInformation](#iteminformation)","ref":"supplier orders.ItemInformation","properties":{"CatalogId":{"type":"guid","description":"Identifier for the [Catalog](/api/catalog/#catalogitem) item","example":"dbc2577a-021f-4bbf-8289","name":"CatalogId"},"Info":{"type":"string","description":"General information about the item(s), such as tracking site, additional reference info, etc","example":"www.ups.com","name":"Info"},"Message":{"type":"string","description":"A reason for the status of an order","example":"Error: Product '98ESP456' is unavailable","name":"Message"},"ProductName":{"type":"string","description":"Name of the product","example":"239234SMS L720 BLU SPT RTD8863","name":"ProductName"},"Quantity":{"type":"integer","description":"Used in the case of partial shipments","example":"5","name":"Quantity"},"Status":{"type":"string","description":"Current [ItemStatus](#itemstatus)","putDescription":"Defaults to PendingSupplier","example":"Exception","name":"Status"},"Sku":{"type":"string","description":"Vendor SKU","example":"9356SAMGL6S","name":"Sku"},"ShippingProvider":{"type":"string","description":"The shipping carrier that the product was shipped with","example":"UPS","name":"ShippingProvider"},"TrackingInfo":{"type":"string","description":"Tracking number for this shipped product","example":"23923408863","name":"TrackingInfo"},"ReferenceName":{"type":"string","description":"Reserved for internal use","example":""},"ReferenceValue":{"type":"string","description":"Reserved for internal use","example":""}},"required":["Sku"]}},"required":["Id"]}
                            
                        
                    
                
            
    

/Suppliers({SupplierId})/Notifications:
    
    uriParameters:
        
        SupplierId:
            displayName: SupplierId
            type: integer
            example: 60455
            required: true
            description: 
          
      
    get:
        
        displayName: Getting the Order Feed
                
        
        description: |            
            The `current` feed endpoint gives access to the most recent (up to 50) entries in the notification feed while the `prev-archive` link will give access to the previous (up to 50) entries in the feed.
            

        
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/atom+xml
            
        body:
            
        responses:
            
            200:
                
                body:
                    
                    application/atom+xml:
                        
                            example: |
                                <?xml version="1.0" encoding="utf-8"?>
                                <feed xmlns="http://www.w3.org/2005/Atom">
                                    <title type="text">Dropship Order Event Feed</title>
                                    <id>urn:uuid:f1be4a74-508f-4159-b3f1-c6efe76c03e4</id>
                                    <updated>2015-10-23T21:37:34Z</updated>
                                    <author>
                                        <name>iQmetrix</name>
                                    </author>
                                    <link rel="current" href="https://dropship.iqmetrix.net/v1/Suppliers(60455)/Notifications" />
                                    <link rel="self" href="https://dropship.iqmetrix.net/v1/Suppliers(60455)/Notifications/Pages(f1be4a74-508f-4159-b3f1-c6efe76c03e4)" />
                                    <link rel="prev-archive" href="https://dropship.iqmetrix.net/v1/Suppliers(60455)/Notifications/Pages(e1697c26-23e2-4bc7-8f6c-494c6034d9e2)" />
                                    <entry>
                                        <id>urn:uuid:9e5a279b-9583-4d51-b3fa-00d0d146986a</id>
                                        <title type="text">Dropship Order Created</title>
                                        <published>2015-10-23T21:37:31Z</published>
                                        <updated>2015-10-23T21:37:31Z</updated>
                                        <content type="application/xml">
                                            <order-created xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="urn:iQmetrix:dropship">
                                                <items>
                                                    <order-item>
                                                        <catalog-id>18e039de-f950-4d8e-a48a-d06e4db55a07</catalog-id>
                                                        <description>Some Item</description>
                                                        <quantity>1</quantity>
                                                        <selling-price>100</selling-price>
                                                        <sku>AB-JH0786-MI</sku>
                                                    </order-item>
                                                    <order-item>
                                                        <catalog-id>736fae29-88e2-4360-8b0e-d2e3d3254c06</catalog-id>
                                                        <description>Another Item</description>
                                                        <quantity>2</quantity>
                                                        <selling-price>42</selling-price>
                                                        <sku>EM-JH073-MI</sku>
                                                    </order-item>
                                                </items>
                                                <order-id>32cb2b46-fb26-48c8-9b8f-67ed759e2599</order-id>
                                                <seller>
                                                    <company-id>33772</company-id>
                                                    <location-id>33773</location-id>
                                                    <po-reference>ABC123N1</po-reference>
                                                    <printable-id>98764531</printable-id>
                                                </seller>
                                                <ship-to-store>true</ship-to-store>
                                                <shipping-address>
                                                    <address-id>00000000-0000-0000-0000-000000000000</address-id>
                                                    <attention-to>Bob Eh</attention-to>
                                                    <country>Canada</country>
                                                    <country-code>CA</country-code>
                                                    <locality>Moosejaw</locality>
                                                    <notes i:nil="true" />
                                                    <phone i:nil="true" />
                                                    <post-office-box-number i:nil="true" />
                                                    <postal-code>S6J1N2</postal-code>
                                                    <region>Saskatchewan</region>
                                                    <region-code>SK</region-code>
                                                    <street-address-1>742 Evergreen Terrace</street-address-1>
                                                    <street-address-2 i:nil="true" />
                                                    <type i:nil="true" />
                                                </shipping-address>
                                                <shipping-customer>
                                                    <alternate-name i:nil="true" />
                                                    <customer-id>3da9470e-f1b2-4a1a-bd47-5bf18fe2d1ab</customer-id>
                                                    <family-name>Eh</family-name>
                                                    <middle-name i:nil="true" />
                                                    <notes i:nil="true" />
                                                    <primary-name>Bob</primary-name>
                                                    <title i:nil="true" />
                                                    <type>Person</type>
                                                </shipping-customer>
                                                <shipping-method>123</shipping-method>
                                                <supplier-id>60455</supplier-id>
                                            </order-created>
                                        </content>
                                    </entry>
                                    <entry>
                                        <id>urn:uuid:gf456fd486-df4s56g-d45fdsf-f74ds8fds456fs</id>
                                        <title type="text">Dropship Order Status Updated</title>
                                        <published>2015-10-09T15:36:45Z</published>
                                        <updated>2015-10-09T15:36:45Z</updated>
                                        <content type="application/xml">
                                            <order-status-updated xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="urn:iQmetrix:dropship">
                                                <company-id>50068</company-id>
                                                <items>
                                                    <item-information>
                                                        <catalog-id>18e039de-f950-4d8e-a48a-d06e4db55a07</catalog-id>
                                                        <info i:nil="true" />
                                                        <message i:nil="true" />
                                                        <quantity>1</quantity>
                                                        <shipping-provider>Purolator</shipping-provider>
                                                        <sku>AB-JH0786-MI</sku>
                                                        <status>Other</status>
                                                        <tracking-info i:nil="true" />
                                                    </item-information>
                                                </items>
                                                <order-id>32cb2b46-fb26-48c8-9b8f-67ed759e2599</order-id>
                                                <supplier-id>60455</supplier-id>
                                            </order-status-updated>
                                        </content>
                                    </entry>
                                </feed>            
                                
                        
                        
                    
                
            
    

/Suppliers({SupplierId})/Notifications/Pages({PageId}):
    
    uriParameters:
        
        SupplierId:
            displayName: SupplierId
            type: integer
            example: 60455
            required: true
            description: 
        
        PageId:
            displayName: PageId
            type: string
            example: e1697c26-23e2-4bc7-8f6c-494c6034d9e2
            required: true
            description: 
          
      
    get:
        
        displayName: Getting Order Feed Archives
                
        
        description: |            
            The `next-archive` link gives access to a newer (up to 50) list of archive entries in the notification feed while the `prev-archive` link will give access to the previous (up to 50) list of archive entries.
            

        
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/atom+xml
            
        body:
            
        responses:
            
            200:
                
                body:
                    
                    application/atom+xml:
                        
                            example: |
                                <?xml version="1.0" encoding="utf-8"?>
                                <feed xmlns="http://www.w3.org/2005/Atom">
                                    <title type="text">Dropship Order Event Feed</title>
                                    <id>urn:uuid:e1697c26-23e2-4bc7-8f6c-494c6034d9e2</id>
                                    <updated>2015-07-08T20:20:45Z</updated>
                                    <author>
                                        <name>iQmetrix</name>
                                    </author>
                                    <link rel="current" href="https://dropship.iqmetrix.net/v1/Suppliers(60455)/Notifications" />
                                    <link rel="self" href="https://dropship.iqmetrix.net/v1/Suppliers(60455)/Notifications/Pages(e1697c26-23e2-4bc7-8f6c-494c6034d9e2)" />
                                    <link rel="next-archive" href="https://dropship.iqmetrix.net/v1/Suppliers(60455)/Notifications/Pages(f1be4a74-508f-4159-b3f1-c6efe76c03e4)" />
                                    <link rel="prev-archive" href="https://dropship.iqmetrix.net/v1/Suppliers(60455)/Notifications/Pages(b59ded0f-0119-4c49-9113-93862e24eac6)" />
                                    <entry>
                                        <id>urn:uuid:b77ef04c-8dd4-4fba-b8c4-10de4bccbeb3</id>
                                        <title type="text">Dropship Order Status Updated</title>
                                        <published>2015-07-08T20:20:45Z</published>
                                        <updated>2015-07-08T20:20:45Z</updated>
                                        <content type="application/xml">
                                            <order-status-updated xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="urn:iQmetrix:dropship">
                                                <company-id>29796</company-id>
                                                <items>
                                                    <item-information>
                                                        <catalog-id>30cece9f-a90d-4f51-b33f-0aa663371658</catalog-id>
                                                        <info>Additional info</info>
                                                        <message>Message</message>
                                                        <quantity>1</quantity>
                                                        <shipping-provider>UPS</shipping-provider>
                                                        <sku>GB40030</sku>
                                                        <status>Shipped</status>
                                                        <tracking-info>8979876</tracking-info>
                                                    </item-information>
                                                </items>
                                                <order-id>503ed5af-fe26-4d60-9b4f-8d5a708c761b</order-id>
                                                <supplier-id>60455</supplier-id>
                                            </order-status-updated>       
                                        </content>
                                    </entry>
                                </feed>            
                        
                        
                    
                
            
    
