#%RAML 0.8
title: availability
baseUri: https://availabilitydemo.iqmetrix.net/v1

/Companies({CompanyId})/CatalogItems:
    uriParameters:
        
        CompanyId:
            displayName: CompanyId
            type: integer
            example: 14146
            description: |
                Identifier for the {{Company}} 
            required: true
          
      
    post:
        displayName: Configuring Availability
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
            Content-Type:
                example: application/json
            
        body:
            
            application/json:
                
                
                example: |  
                    {"Id":"a183f1a9-c58f-426a-930a-9a6357db52ed","CompanyId":14146,"EntityId":14202,"Quantity":15,"IsDropShippable":false,"IsSerialized":false}
                
            
    

/Companies({CompanyId})/Entities({LocationId})/CatalogItems({CatalogItemId}):
    uriParameters:
        
        CompanyId:
            displayName: CompanyId
            type: integer
            example: 14146
            description: |
                Identifier for the {{Company}} 
            required: true
        
        LocationId:
            displayName: LocationId
            type: integer
            example: 14202
            description: |
                Identifier for the {{Location}} 
            required: true
        
        CatalogItemId:
            displayName: CatalogItemId
            type: string
            example: 41519509-b798-4630-abba-89c9a30df83a
            description: |
                Unique identifier for the {{CatalogItem}} 
            required: true
          
      
    get:
        displayName: Getting Availability For a Catalog Item For a Location
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
        body:
            
    

/Companies({CompanyId})/CatalogItems({CatalogItemId})/Availability:
    uriParameters:
        
        CompanyId:
            displayName: CompanyId
            type: integer
            example: 14146
            description: |
                Identifier for the {{Company}} 
            required: true
        
        CatalogItemId:
            displayName: CatalogItemId
            type: string
            example: 41519509-b798-4630-abba-89c9a30df83a
            description: |
                Identifier for the {{CatalogItem}} 
            required: true
          
      
    get:
        displayName: Getting Availability For a Catalog Item For All Locations
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
        body:
            
    

/Companies({CompanyId})/Entities({LocationId})/CatalogItems({CatalogItemId})/SerialNumbers:
    uriParameters:
        
        CompanyId:
            displayName: CompanyId
            type: integer
            example: 14146
            description: |
                Identifier for the {{Company}} 
            required: true
        
        LocationId:
            displayName: LocationId
            type: integer
            example: 14202
            description: |
                Identifier for the {{Location}} 
            required: true
        
        CatalogItemId:
            displayName: CatalogItemId
            type: string
            example: 41519509-b798-4630-abba-89c9a30df83a
            description: |
                Identifier for the {{CatalogItem}} 
            required: true
          
      
    get:
        displayName: Getting Serial Numbers For a Catalog Item
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
        body:
            
    

/Companies({CompanyId})/Entities({LocationId})/CatalogItems({CatalogItemId})/SerialNumbers({SerialNumber}):
    uriParameters:
        
        CompanyId:
            displayName: CompanyId
            type: integer
            example: 14146
            description: |
                Identifier for the {{Company}} 
            required: true
        
        LocationId:
            displayName: LocationId
            type: integer
            example: 14202
            description: |
                Identifier for the {{Location}} 
            required: true
        
        CatalogItemId:
            displayName: CatalogItemId
            type: string
            example: 41519509-b798-4630-abba-89c9a30df83a
            description: |
                Identifier for the {{CatalogItem}} 
            required: true
        
        SerialNumber:
            displayName: SerialNumber
            type: string
            example: B7FQ-RANC
            description: |
                Serial Number 
            required: true
          
      
    get:
        displayName: Getting a Serial Number
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
        body:
            
    

/Companies({CompanyId})/Entities({LocationId})/SerialNumbers?$filter=Id eq '{SerialNumber}':
    uriParameters:
        
        CompanyId:
            displayName: CompanyId
            type: integer
            example: 14146
            description: |
                Identifier for the {{Company}} 
            required: true
        
        LocationId:
            displayName: LocationId
            type: integer
            example: 14202
            description: |
                Identifier for the {{Location}} 
            required: true
        
        SerialNumber:
            displayName: SerialNumber
            type: string
            example: B7FQ-RANC
            description: |
                Serial Number 
            required: true
          
      
    get:
        displayName: Getting a Serial Number by Location
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
        body:
            
    
