#%RAML 0.8
title: commissions
baseUri: https://commissiondemo.iqmetrix.net/v1

/Companies({CompanyId})/CommissionEntries?$filter=LastUpdateDateUtc ge datetime'{StartDate}' and LastUpdateDateUtc le datetime'{EndDate}'&$skip={Skip}&$top={Top}:
    uriParameters:
        
        CompanyId:
            displayName: CompanyId
            type: integer
            example: 14146
            description: |
                Identifier for the {{Company}} 
            required: true
        
        StartDate:
            displayName: StartDate
            type: string
            example: Wed Dec 31 2014 18:00:00 GMT-0600 (Canada Central Standard Time)
            description: |
                Date at which to begin search request, in UTC 
            required: false
        
        EndDate:
            displayName: EndDate
            type: string
            example: Thu Dec 31 2015 17:59:59 GMT-0600 (Canada Central Standard Time)
            description: |
                Date at which to end search request, in UTC 
            required: false
        
        Skip:
            displayName: Skip
            type: string
            example: 1
            description: |
                The number of items to skip from the entire set of results. Defaults to 0 if no $skip value is specified. If a value less than 0 is specified, the URI is considered malformed 
            required: false
        
        Top:
            displayName: Top
            type: string
            example: 10
            description: |
                Maximum number of items to include in the response. Defaults to 50 if no $top value is specified. Acceptable values are in the range [0 
            required: false
          
      
    get:
        displayName: Getting All Commission Entries
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/hal+json
            
        body:
            
    
