#%RAML 0.8
title: crm
baseUri: https://crmdemo.iqmetrix.net/v1

/Companies({CompanyId})/Customers?$skip={Skip}&top={Top}:
    uriParameters:
        
        CompanyId:
            displayName: Company Id
            type: integer
            example: 14146
            description: |
                Identifier for the {{Company}} 
            required: true
        
        Skip:
            displayName: skip
            type: integer
            example: 1
            description: |
                Number of records to skip 
            required: false
        
        Top:
            displayName: top
            type: integer
            example: 10
            description: |
                Number of records to take 
            required: false
          
      
    get:
        displayName: Getting All Customers
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/hal+json
            
        body:
            
    

/Companies({CompanyId})/Customers:
    uriParameters:
        
        CompanyId:
            displayName: Company Id
            type: integer
            example: 14146
            description: |
                Identifier for the {{Company}} 
            required: true
          
      
    post:
        displayName: Creating a Customer
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
            Content-Type:
                example: application/json
            
        body:
            
            application/json:
                
                
                example: |  
                    {"Id":"659c2a38-d083-4421-9330-46d779702f85","PrimaryName":"Princess","MiddleName":"Ella","FamilyName":"Jasmine","AlternateName":"Jas","CustomerType":"Company","CustomerTypeId":3,"DateOfBirth":"1952-07-23T12:00:00.000","Disabled":true,"DoNotContact":true,"Notes":"Interested in iPhone 6","Title":"Ms","Version":1}
                
            
    

/Companies({CompanyId})/Customers({CustomerId}):
    uriParameters:
        
        CompanyId:
            displayName: Company Id
            type: integer
            example: 14146
            description: |
                Identifier for the {{Company}} 
            required: true
        
        CustomerId:
            displayName: Customer Id
            type: string
            example: 659c2a38-d083-4421-9330-46d779702f85
            description: |
                Identifier for the {{Customer}} 
            required: true
          
      
    get:
        displayName: Getting a Customer
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
        body:
            
      
    put:
        displayName: Updating a Customer
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
            Content-Type:
                example: application/json
            
        body:
            
            application/json:
                
                
                example: |  
                    {"Id":"659c2a38-d083-4421-9330-46d779702f85","PrimaryName":"Princess","MiddleName":"Ella","FamilyName":"Jasmine","AlternateName":"Jas","CustomerType":"Company","CustomerTypeId":3,"DateOfBirth":"1952-07-23T12:00:00.000","Disabled":true,"DoNotContact":true,"Notes":"Interested in iPhone 6","Title":"Ms","Version":1}
                
            
      
    delete:
        displayName: Deleting a Customer
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
        body:
            
    

/Companies({CompanyId})/Customers({CustomerId})/Addresses?$skip={Skip}&top={Top}:
    uriParameters:
        
        CompanyId:
            displayName: CompanyId
            type: integer
            example: 14146
            description: |
                Identifier for the {{Company}} 
            required: true
        
        CustomerId:
            displayName: CustomerId
            type: string
            example: 659c2a38-d083-4421-9330-46d779702f85
            description: |
                Identifier for the {{Customer}} being updated 
            required: true
        
        Skip:
            displayName: skip
            type: integer
            example: 1
            description: |
                Number of records to skip 
            required: false
        
        Top:
            displayName: top
            type: integer
            example: 10
            description: |
                Number of records to take 
            required: false
          
      
    get:
        displayName: Getting All Addresses for a Customer
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/hal+json
            
        body:
            
    

/Companies({CompanyId})/Customers({CustomerId})/Addresses:
    uriParameters:
        
        CompanyId:
            displayName: CompanyId
            type: integer
            example: 14146
            description: |
                Identifier for the {{Company}} 
            required: true
        
        CustomerId:
            displayName: CustomerId
            type: string
            example: 659c2a38-d083-4421-9330-46d779702f85
            description: |
                Identifier for the {{Customer}} being updated 
            required: true
          
      
    post:
        displayName: Adding a Customer Address
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
            Content-Type:
                example: application/json
            
        body:
            
            application/json:
                
                
                example: |  
                    {"Id":"a08b0640-606a-41f0-901a-facaf50e75dd","CustomerId":"659c2a38-d083-4421-9330-46d779702f85","AddressType":"Home","AddressTypeId":2,"AttentionTo":"Princess","Country":"Canada","CountryCode":"CA","Default":false,"DoNotContact":true,"Email":"Jas@princess.ca","Locality":"Mountain View","Notes":"Moved as of April 15 2015","Phone":"(555) 555-5555","PostalCode":"94043","PostOfficeBoxNumber":"P.O. Box 1022","State":"Alberta","StateCode":"AB","StreetAddress1":"1600 Amphitheatre Pkwy","StreetAddress2":"Suite 500","Version":1}
                
            
    

/Companies({CompanyId})/Customers({CustomerId})/Addresses({AddressId}):
    uriParameters:
        
        CompanyId:
            displayName: CompanyId
            type: integer
            example: 14146
            description: |
                Identifier of the Company 
            required: true
        
        CustomerId:
            displayName: Customer Id
            type: string
            example: 902cdc91-65f4-4c7d-b336-5f291849f2fe
            description: |
                Identifier for the {{Customer}} 
            required: true
        
        AddressId:
            displayName: Address Id
            type: string
            example: a08b0640-606a-41f0-901a-facaf50e75dd
            description: |
                Identifier for the {{Address}} 
            required: true
          
      
    get:
        displayName: Getting a Customer Address
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
        body:
            
      
    put:
        displayName: Updating a Customer Address
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
            Content-Type:
                example: application/json
            
        body:
            
            application/json:
                
                
                example: |  
                    {"Id":"a08b0640-606a-41f0-901a-facaf50e75dd","CustomerId":"659c2a38-d083-4421-9330-46d779702f85","AddressType":"Home","AddressTypeId":2,"AttentionTo":"Princess","Country":"Canada","CountryCode":"CA","Default":false,"DoNotContact":true,"Email":"Jas@princess.ca","Locality":"Mountain View","Notes":"Moved as of April 15 2015","Phone":"(555) 555-5555","PostalCode":"94043","PostOfficeBoxNumber":"P.O. Box 1022","State":"Alberta","StateCode":"AB","StreetAddress1":"1600 Amphitheatre Pkwy","StreetAddress2":"Suite 500","Version":1}
                
            
      
    delete:
        displayName: Removing an Address from a Customer
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
        body:
            
    

/Companies({CompanyId})/CustomerFull:
    uriParameters:
        
        CompanyId:
            displayName: CompanyId
            type: integer
            example: 14146
            description: |
                Identifier for the {{Company}} 
            required: true
          
      
    post:
        displayName: Creating a Full Customer
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
            Content-Type:
                example: application/json
            
        body:
            
            application/json:
                
                
                example: |  
                    {"Id":"659c2a38-d083-4421-9330-46d779702f85","PrimaryName":"Princess","MiddleName":"Ella","FamilyName":"Jasmine","Addresses":[{"Id":"a08b0640-606a-41f0-901a-facaf50e75dd","CustomerId":"659c2a38-d083-4421-9330-46d779702f85","AddressType":"Home","AddressTypeId":2,"AttentionTo":"Princess","Country":"Canada","CountryCode":"CA","Default":false,"DoNotContact":true,"Email":"Jas@princess.ca","Locality":"Mountain View","Notes":"Moved as of April 15 2015","Phone":"(555) 555-5555","PostalCode":"94043","PostOfficeBoxNumber":"P.O. Box 1022","State":"Alberta","StateCode":"AB","StreetAddress1":"1600 Amphitheatre Pkwy","StreetAddress2":"Suite 500","Version":1}],"AlternateName":"Jas","ContactMethods":[{"Id":"b25dd8b2-a24d-4107-8fbe-9c7b21e18137","CustomerId":"659c2a38-d083-4421-9330-46d779702f85","ContactMethodCategory":"Email","ContactMethodCategoryId":3,"ContactMethodType":"Work phone","ContactMethodTypeId":5,"Default":true,"DoNotContact":true,"Notes":"After 6pm","Value":"(306) 222-3333","Version":1}],"CustomerExtensions":[{"Id":"74b87ece-5f70-454d-9991-7952127146b0","CustomerId":"659c2a38-d083-4421-9330-46d779702f85","ExtensionType":"ExternalCustomerId","ExtensionTypeId":2,"Value":"66432","Version":1}],"CustomerType":"Company","CustomerTypeId":3,"DateOfBirth":"1952-07-23T12:00:00.000","Disabled":true,"DoNotContact":true,"MemberOf":[],"Notes":"Interested in iPhone 6","RelatedCustomers":[],"Title":"Ms","Version":1}
                
            
    

/Companies({CompanyId})/CustomerFull({CustomerId}):
    uriParameters:
        
        CompanyId:
            displayName: CompanyId
            type: integer
            example: 14146
            description: |
                Identifier for the {{Company}} 
            required: true
        
        CustomerId:
            displayName: CustomerId
            type: string
            example: 659c2a38-d083-4421-9330-46d779702f85
            description: |
                Unique identifier for the {{Customer}} 
            required: true
          
      
    get:
        displayName: Getting a Full Customer
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
        body:
            
      
    delete:
        displayName: Deleting a Full Customer
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
        body:
            
    

/Companies({CompanyId})/Customers({CustomerId})/ContactMethods?$skip={Skip}&top={Top}:
    uriParameters:
        
        CompanyId:
            displayName: CompanyId
            type: integer
            example: 14146
            description: |
                Identifier for the {{Company}} 
            required: true
        
        CustomerId:
            displayName: CustomerId
            type: string
            example: 659c2a38-d083-4421-9330-46d779702f85
            description: |
                Identifier for the {{Customer}} being updated 
            required: true
        
        Skip:
            displayName: skip
            type: integer
            example: 1
            description: |
                Number of records to skip 
            required: false
        
        Top:
            displayName: top
            type: integer
            example: 10
            description: |
                Number of records to take 
            required: false
          
      
    get:
        displayName: Getting All Contact Methods for a Customer
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/hal+json
            
        body:
            
    

/Companies({CompanyId})/Customers({CustomerId})/ContactMethods:
    uriParameters:
        
        CompanyId:
            displayName: CompanyId
            type: integer
            example: 14146
            description: |
                Identifier for the {{Company}} 
            required: true
        
        CustomerId:
            displayName: CustomerId
            type: string
            example: 659c2a38-d083-4421-9330-46d779702f85
            description: |
                Identifier for the {{Customer}} being updated 
            required: true
          
      
    post:
        displayName: Adding a Customer Contact Method
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
            Content-Type:
                example: application/json
            
        body:
            
            application/json:
                
                
                example: |  
                    {"Id":"b25dd8b2-a24d-4107-8fbe-9c7b21e18137","CustomerId":"659c2a38-d083-4421-9330-46d779702f85","ContactMethodCategory":"Email","ContactMethodCategoryId":3,"ContactMethodType":"Work phone","ContactMethodTypeId":5,"Default":true,"DoNotContact":true,"Notes":"After 6pm","Value":"(306) 222-3333","Version":1}
                
            
    

/Companies({CompanyId})/Customers({CustomerId})/ContactMethods({ContactMethodId}):
    uriParameters:
        
        CompanyId:
            displayName: CompanyId
            type: integer
            example: 14146
            description: |
                Identifier for the {{Company}} 
            required: true
        
        CustomerId:
            displayName: CustomerId
            type: string
            example: 659c2a38-d083-4421-9330-46d779702f85
            description: |
                Identifier for the {{Customer}} being updated 
            required: true
        
        ContactMethodId:
            displayName: ContactMethodId
            type: string
            example: 0c877e33-e0a4-46ca-be34-49718f29e791
            description: |
                Identifier for the {{ContactMethod}} 
            required: true
          
      
    get:
        displayName: Getting a Customer Contact Method
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
        body:
            
      
    put:
        displayName: Updating a Customer Contact Method
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
            Content-Type:
                example: application/json
            
        body:
            
            application/json:
                
                
                example: |  
                    {"Id":"b25dd8b2-a24d-4107-8fbe-9c7b21e18137","CustomerId":"659c2a38-d083-4421-9330-46d779702f85","ContactMethodCategory":"Email","ContactMethodCategoryId":3,"ContactMethodType":"Work phone","ContactMethodTypeId":5,"Default":true,"DoNotContact":true,"Notes":"After 6pm","Value":"(306) 222-3333","Version":1}
                
            
      
    delete:
        displayName: Removing a Customer Contact Method
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
        body:
            
    

/Companies({CompanyId})/Customers?$filter={FilterQuery}$skip={Skip}&$top={Top}:
    uriParameters:
        
        CompanyId:
            displayName: CompanyId
            type: integer
            example: 14146
            description: |
                Identifier for the {{Company}} 
            required: true
        
        FilterQuery:
            displayName: Filter query
            type: string
            example: PrimaryName eq 'bob'
            description: |
                Filter on customers 
            required: false
        
        Skip:
            displayName: skip
            type: integer
            example: 1
            description: |
                Number of records to skip 
            required: false
        
        Top:
            displayName: top
            type: integer
            example: 10
            description: |
                Number of records to take 
            required: false
          
      
    get:
        displayName: Searching for Customers
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
        body:
            
    

/Companies({CompanyId})/CustomerSearch?$filter={FilterQuery}:
    uriParameters:
        
        CompanyId:
            displayName: CompanyId
            type: integer
            example: 14146
            description: |
                Identifier for the {{Company}} 
            required: true
        
        FilterQuery:
            displayName: FilterQuery
            type: string
            example: Criteria eq 'Bob'
            description: |
                The filter to apply, "Criteria" is required 
            required: false
          
      
    get:
        displayName: Customer Search
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
        body:
            
    
