#%RAML 0.8
title: security-roles
baseUri: https://usermanagerdemo.iqmetrix.net/v1

/Entities({EntityId})/Permissions:
    uriParameters:
        
        EntityId:
            displayName: EntityId
            type: string
            example: 14146
            description: |
                Identifier of a {{CompanyTreeNode}} 
            required: true
          
      
    get:
        displayName: Getting All Permissions for an Entity
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
        body:
            
    

/Entities({EntityId})/SecurityRoles:
    uriParameters:
        
        EntityId:
            displayName: EntityId
            type: string
            example: 14146
            description: |
                Identifier of a {{CompanyTreeNode}} 
            required: true
          
      
    post:
        displayName: Creating a Security Role
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
            Content-Type:
                example: application/json
            
        body:
            
            application/json:
                
                
                example: |  
                    {"Id":316,"Name":"Store Manager"}
                
            
      
    get:
        displayName: Getting All Security Roles for an Entity
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
        body:
            
    

/Entities({EntityId})/SecurityRoles({SecurityRoleId})/Permissions({PermissionId}):
    uriParameters:
        
        EntityId:
            displayName: EntityId
            type: string
            example: 14146
            description: |
                Identifier of a {{CompanyTreeNode}} 
            required: true
        
        SecurityRoleId:
            displayName: SecurityRoleId
            type: string
            example: 316
            description: |
                Identifier of a SecurityRole 
            required: true
        
        PermissionId:
            displayName: PermissionId
            type: string
            example: 101
            description: |
                Identifier of a Permission 
            required: true
          
      
    put:
        displayName: Enabling a Permission for a Security Role
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
            Content-Type:
                example: application/json
            
        body:
            
      
    delete:
        displayName: Disabling a Permission for a Security Role
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
        body:
            
    

/Entities({EntityId})/SecurityRoles({SecurityRoleId})/Permissions:
    uriParameters:
        
        EntityId:
            displayName: EntityId
            type: string
            example: 14146
            description: |
                Identifier of a {{CompanyTreeNode}} 
            required: true
        
        SecurityRoleId:
            displayName: SecurityRoleId
            type: string
            example: 316
            description: |
                Identifier of a SecurityRole 
            required: true
          
      
    get:
        displayName: Getting Permissions for a Security Role
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
        body:
            
    

/Users({UserId})/AssignedRoles:
    uriParameters:
        
        UserId:
            displayName: UserId
            type: string
            example: 2576
            description: |
                Identifier of a User 
            required: true
          
      
    post:
        displayName: Assigning a Security Role to a User
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
            Content-Type:
                example: application/json
            
        body:
            
            application/json:
                
                
                example: |  
                    {"Id":6548,"EntityId":14202,"SecurityRoleId":316,"UserId":2576}
                
            
      
    get:
        displayName: Getting Assigned Roles for a User
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
        body:
            
    

/Users({UserId})/AssignedRoles({SecurityRoleId}):
    uriParameters:
        
        UserId:
            displayName: UserId
            type: string
            example: 2572
            description: |
                Identifier of a User 
            required: true
        
        SecurityRoleId:
            displayName: SecurityRoleId
            type: string
            example: 316
            description: |
                Identifier of a SecurityRole 
            required: true
          
      
    delete:
        displayName: Unassigning a Security Role from a User
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
        body:
            
    
