
<!-- this handles the automatic toc. use ## for subheads to auto-generate the on-page minitoc. if you use html tags, you must supply an ID for the heading element in order for it to appear in the minitoc. -->
<script>
$( document ).ready(function() {

    $('#toc').toc({ minimumHeaders: 0, listType: 'ul', showSpeed: 0, headers: 'h2, h3' });

    //Resize once
    resizeWindow();

    //Resize whenever window changes
    $(window).resize(function () {
        resizeWindow();
    });

});

function resizeWindow() {

    var windowHeight = $(window).height();
    var windowWidth = $(window).width();

    var tocHeight = $(".pageMetadata").height();

    if(windowWidth < 1560 || windowHeight < tocHeight) {        
        //Grab "pageMetadata" and move it to first  child of .post-header
        $(".pageMetadata").prependTo(".post-header");
        $(".pageMetadata").removeClass("affix");        
    } else if(windowWidth > 1560) {
        //Grab "pageMetadata" and move it back to where it was
        $(".pageMetadata").appendTo(".col-lg-1.hidden-md.hidden-sm.hidden-xs");
        $(".pageMetadata" ).addClass("affix");
    }      
}

</script>

<div id="toc"></div>