
<style>
  #reports-display img, #reports-display .row {
    padding-bottom:15px;
  }
  #reports-display h4 {
    color: rgb(51, 51, 51);
  }
  #reports-display div div div {
    padding-bottom: 5px;
  }
</style>

<hr/>
<div id='reports-display'>
  <div class='row text-center'>
      <span class='col-md-4'>
          <span class='col-md-12'>
            <a href='/api/RQ-Data-Connect-Customer-Reports'>
              <h4>Customer Reports</h4>
              <img src='http://developers.iqmetrix.com/images/rq-data-connect/customers_32.png'>
            </a> 
            <div>
              <div style='display:none;'><a href='/api/RQ-Data-Connect-Customer-Reports/#getting-the-activity-tracking-report'>Activity Tracking Report</a></div>
              <div style='display:none;'><a href='/api/RQ-Data-Connect-Customer-Reports/#getting-the-call-back-report'>Call Back Report</a></div>
              <div style='display:none;'><a href='/api/RQ-Data-Connect-Customer-Reports/#getting-the-close-projections-report'>Close Projections Report</a></div>
              <div style='display:none;'><a href='/api/RQ-Data-Connect-Customer-Reports/#getting-the-closing-ratio-report'>Closing Ratio Report</a></div>
              <div style='display:none;'><a href='/api/RQ-Data-Connect-Customer-Reports/#getting-the-customer-contact-status-report'>Customer Contact Status Report</a></div>
              <div><a href='/api/RQ-Data-Connect-Customer-Reports/#getting-the-customer-list-report'>Customer List Report</a></div>
              <div style='display:none;'><a href='/api/RQ-Data-Connect-Customer-Reports/#getting-the-customer-metrix-report'>Customer Metrix Report</a></div>
              <div style='display:none;'><a href='/api/RQ-Data-Connect-Customer-Reports/#getting-the-cycle-length-report'>Cycle Length Report</a></div>
              <div style='display:none;'><a href='/api/RQ-Data-Connect-Customer-Reports/#getting-the-funnel-strength-report'>Funnel Strength Report</a></div>
              <div style='display:none;'><a href='/api/RQ-Data-Connect-Customer-Reports/#getting-the-loyalty-program-report'>Loyalty Program Report</a></div>
              <div style='display:none;'><a href='/api/RQ-Data-Connect-Customer-Reports/#getting-the-marketing-list'>Marketing List</a></div>
              <div style='display:none;'><a href='/api/RQ-Data-Connect-Customer-Reports/#getting-the-marketing-summary-report'>Marketing Summary Report</a></div>
              <div style='display:none;'><a href='/api/RQ-Data-Connect-Customer-Reports/#getting-the-payment-collection-token-report'>Payment Collection Token Report</a></div>
              <div style='display:none;'><a href='/api/RQ-Data-Connect-Customer-Reports/#getting-the-payment-integration-transaction-by-date-report'>Payment Integration Transaction By Date Report</a></div>
              <div style='display:none;'><a href='/api/RQ-Data-Connect-Customer-Reports/#getting-the-progression-details-report'>Progression Details Report</a></div>
              <div style='display:none;'><a href='/api/RQ-Data-Connect-Customer-Reports/#getting-the-sales-funnel-report'>Sales Funnel Report</a></div>
              <div style='display:none;'><a href='/api/RQ-Data-Connect-Customer-Reports/#getting-the-search-crm'>Search CRM</a></div>
              <div style='display:none;'><a href='/api/RQ-Data-Connect-Customer-Reports/#getting-the-service-manager-report'>Service Manager Report</a></div>
              <div style='display:none;'><a href='/api/RQ-Data-Connect-Customer-Reports/#getting-the-service-request-history-report'>Service Request History Report</a></div>
            </div>
          </span>
      </span>
      <span class='col-md-4'>
          <span class='col-md-12'>
            <a href='/api/RQ-Data-Connect-Commission-Reports'>
              <h4>Commission Reports</h4>
              <img src='http://developers.iqmetrix.com/images/rq-data-connect/commission_32.png'>
            </a>              
            <div>
              <div style='display:none;'><a href='/api/RQ-Data-Connect-Commission-Reports/#getting-the-commission-by-category-report'>Commission by Category Report</a></div>
              <div style='display:none;'><a href='/api/RQ-Data-Connect-Commission-Reports/#getting-the-commission-by-invoice-report'>Commission by Invoice Report</a></div>
              <div style='display:none;'><a href='/api/RQ-Data-Connect-Commission-Reports/#getting-the-commission-by-product-report'>Commission by Product Report</a></div>
              <div style='display:none;'><a href='/api/RQ-Data-Connect-Commission-Reports/#getting-the-commission-details-report'>Commission Details Report</a></div>
              <div style='display:none;'><a href='/api/RQ-Data-Connect-Commission-Reports/#getting-the-commission-ledger-activity-report'>Commission Ledger Activity Report</a></div>
              <div style='display:none;'><a href='/api/RQ-Data-Connect-Commission-Reports/#getting-the-commission-summary-report'>Commission Summary Report</a></div>
              <div style='display:none;'><a href='/api/RQ-Data-Connect-Commission-Reports/#getting-the-employee-commission-status-report'>Employee Commission Status Report</a></div>
              <div style='display:none;'><a href='/api/RQ-Data-Connect-Commission-Reports/#getting-the-graphed-commission-report'>Graphed Commission Report</a></div>
              <div><a href='/api/RQ-Data-Connect-Commission-Reports/#getting-the-partial-charge-back-history-report'>Partial Charge Back History Report</a></div>
              <div><a href='/api/RQ-Data-Connect-Commission-Reports/#getting-the-vendor-rebate-history-report-by-category-and-employee'>Vendor Rebate History Report By Category and Employees</a></div>          
              <div><a href='/api/RQ-Data-Connect-Commission-Reports/#getting-the-vendor-rebate-history-report-by-category-and-store'>Vendor Rebate History Report By Category and Store</a></div>                            
              <div><a href='/api/RQ-Data-Connect-Commission-Reports/#getting-the-vendor-rebate-history-report'>Vendor Rebate History Report</a></div>
              <div style='display:none;'><a href='/api/RQ-Data-Connect-Commission-Reports/#getting-the-vendor-rebate-reconciliation-adjustment-history-report'>Vendor Rebate Reconciliation Adjustment History Report</a></div>
            </div>
          </span>
      </span>
      <span class='col-md-4'>
        <span class='col-md-12'>
          <a href='/api/RQ-Data-Connect-Employee-Reports'>
            <h4>Employee Reports</h4>
            <img src='http://developers.iqmetrix.com/images/rq-data-connect/employees_32.png'>
          </a>              
          <div>
            <div style='display:none'><a href='/api/RQ-Data-Connect-Employee-Reports/#getting-the-attendance-report'>Attendance Report</a></div>
            <div style='display:none'><a href='/api/RQ-Data-Connect-Employee-Reports/#getting-the-auto-punch-out-report'>Auto Punch Out Report</a></div>
            <div style='display:none'><a href='/api/RQ-Data-Connect-Employee-Reports/#getting-the-clocked-hours-analysis-report'>Clocked Hours Analysis Report</a></div>
            <div><a href='/api/RQ-Data-Connect-Employee-Reports/#getting-the-employee-list-report'>Employee List Report</a></div>
            <div style='display:none'><a href='/api/RQ-Data-Connect-Employee-Reports/#getting-the-employee-payroll-report'>Employee Payroll Report</a></div>
            <div style='display:none'><a href='/api/RQ-Data-Connect-Employee-Reports/#getting-the-location-payroll-report'>Location Payroll Report</a></div>
            <div style='display:none'><a href='/api/RQ-Data-Connect-Employee-Reports/#getting-the-login-audit-report'>Login Audit Report</a></div>
            <div style='display:none'><a href='/api/RQ-Data-Connect-Employee-Reports/#getting-the-manager-override-report'>Manager Override Report</a></div>
            <div style='display:none'><a href='/api/RQ-Data-Connect-Employee-Reports/#getting-the-manager-time-sheet-approval-report'>Manager Time Sheet Approval Report</a></div>
            <div style='display:none'><a href='/api/RQ-Data-Connect-Employee-Reports/#getting-the-punch-revision-history-report'>Punch Revision History Report</a></div>
            <div style='display:none'><a href='/api/RQ-Data-Connect-Employee-Reports/#getting-the-requested-time-off-report'>Requested Time Off Report</a></div>
            <div><a href='/api/RQ-Data-Connect-Employee-Reports/#getting-the-time-and-attendance-report'>Time And Attendance Report</a></div>
            <div style='display:none'><a href='/api/RQ-Data-Connect-Employee-Reports/#getting-the-time-off-ledger-activity-report'>Time Off Ledger Activity Report</a></div>
          </div>
        </span>
      </span>
  </div>
  <div class='row text-center'>
    <span class='col-md-4'>
      <span class='col-md-12'>
        <a href='/api/RQ-Data-Connect-Sales-Reports'>
          <h4>Sales Reports</h4>
          <img src='http://developers.iqmetrix.com/images/rq-data-connect/sales_32.png'>
        </a>
        <div>
          <div><a href='/api/RQ-Data-Connect-Sales-Reports/#getting-the-activation-gross-profit-report'>Activation Gross Profit Report</a></div>
          <div><a href='/api/RQ-Data-Connect-Sales-Reports/#getting-the-aged-serialized-sales-status-report'>Aged Serialized Sales Status Report</a></div>
          <div><a href='/api/RQ-Data-Connect-Sales-Reports/#getting-the-coupon-summary-report'>Coupon Summary Report</a></div>
          <div><a href='/api/RQ-Data-Connect-Sales-Reports/#getting-the-daily-sales-summary-report'>Daily Sales Summary Report</a></div>
          <div><a href='/api/RQ-Data-Connect-Sales-Reports/#getting-the-discount-summary-report'>Discount Summary Report</a></div>
          <div><a href='/api/RQ-Data-Connect-Sales-Reports/#getting-the-donations-summary-report'>Donations Summary Report</a></div>
          <div><a href='/api/RQ-Data-Connect-Sales-Reports/#getting-the-invoice-history-report'>Invoice History Report</a></div>
          <div><a href='/api/RQ-Data-Connect-Sales-Reports/#getting-the-paw-exceptions-report'>PAW (Phone Activation Wizard) Exceptions Report</a></div>
          <div><a href='/api/RQ-Data-Connect-Sales-Reports/#getting-the-product-detail-report'>Product Detail Report</a></div>
          <div><a href='/api/RQ-Data-Connect-Sales-Reports/#getting-the-product-financing-report'>Product Financing Report</a></div>
          <div><a href='/api/RQ-Data-Connect-Sales-Reports/#getting-the-product-summary-report'>Product Summary Report</a></div>
          <div><a href='/api/RQ-Data-Connect-Sales-Reports/#getting-the-refund-summary-report'>Refund Summary Report</a></div>
          <div><a href='/api/RQ-Data-Connect-Sales-Reports/#getting-the-sales-by-category-report'>Sales by Category Report</a></div>
          <div><a href='/api/RQ-Data-Connect-Sales-Reports/#getting-the-sales-by-customer-report'>Sales by Customer Report</a></div>
          <div><a href='/api/RQ-Data-Connect-Sales-Reports/#getting-the-sales-by-employee-report'>Sales by Employee Report</a></div>
          <div><a href='/api/RQ-Data-Connect-Sales-Reports/#getting-the-sales-by-invoice-report'>Sales by Invoice Report</a></div>
          <div><a href='/api/RQ-Data-Connect-Sales-Reports/#getting-the-sales-by-location-report'>Sales by Location Report</a></div>
          <div><a href='/api/RQ-Data-Connect-Sales-Reports/#getting-the-sales-forecast-report'>Sales Forecast Report</a></div>
          <div><a href='/api/RQ-Data-Connect-Sales-Reports/#getting-the-serialized-coupon-report'>Serialized Coupon Report</a></div>
        </div>
      </span>
    </span>
    <span class='col-md-4'>
      <span class='col-md-12'>
        <a href='/api/RQ-Data-Connect-Inventory-Reports'>
          <h4>Inventory Reports</h4>
              <img src='http://developers.iqmetrix.com/images/rq-data-connect/inventory_32.png'>
        </a>            
        <div>
          <div><a href='/api/RQ-Data-Connect-Inventory-Reports/#getting-the-adjustment-history-invoice-detail-report'>Adjustment History Invoice Detail Report</a></div>
          <div><a href='/api/RQ-Data-Connect-Inventory-Reports/#getting-the-adjustment-history-product-detail-report'>Adjustment History Product Detail Report</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Inventory-Reports/#getting-the-batch-inventory-import-comparison-report'>Batch Inventory Import Comparison Report</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Inventory-Reports/#getting-the-batch-inventory-import-report'>Batch Inventory Import Report</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Inventory-Reports/#getting-the-complete-consignment-report-'>Complete Consignment Report </a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Inventory-Reports/#getting-the-completed-sales-orders-report---end-of-life'>Completed Sales Orders Report - End of Life</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Inventory-Reports/#getting-the-consignment-history-report'>Consignment History Report</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Inventory-Reports/#getting-the-count-sheet-history-report'>Count Sheet History Report</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Inventory-Reports/#getting-the-discontinued-inventory-report'>Discontinued Inventory Report</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Inventory-Reports/#getting-the-graphed-inventory-report'>Graphed Inventory Report</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Inventory-Reports/#getting-the-inventory-availability-summary-report'>Inventory Availability Summary Report</a></div>
          <div><a href='/api/RQ-Data-Connect-Inventory-Reports/#getting-the-inventory-listing-report'>Inventory Listing Report</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Inventory-Reports/#getting-the-inventory-removal-history-report'>Inventory Removal History Report</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Inventory-Reports/#getting-the-inventory-totals-by-location-report'>Inventory Totals by Location Report</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Inventory-Reports/#getting-the-min/max-calculator'>Min/Max Calculator</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Inventory-Reports/#getting-the-min/max-pricing-adjustments'>Min/Max Pricing Adjustments</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Inventory-Reports/#getting-the-non-sellable-history-report'>Non-Sellable History Report</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Inventory-Reports/#getting-the-non-sellable-products-report'>Non-Sellable Products Report</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Inventory-Reports/#getting-the-over-receiving-inventory-report'>Over Receiving Inventory Report</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Inventory-Reports/#getting-the-products-committed-on-sales-orders-report'>Products Committed on Sales Orders Report</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Inventory-Reports/#getting-the-products-on-consignment-report'>Products On Consignment Report</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Inventory-Reports/#getting-the-product-tracking-report'>Product Tracking Report</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Inventory-Reports/#getting-the-sales-history-report'>Sales History Report</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Inventory-Reports/#getting-the-sales-order-summary-report'>Sales Order Summary Report</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Inventory-Reports/#getting-the-service-request-outstanding-inventory-report'>Service Request Outstanding Inventory Report</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Inventory-Reports/#getting-the-signed-out-warranty-products-report'>Signed Out Warranty Products Report</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Inventory-Reports/#getting-the-stale-inventory-report'>Stale Inventory Report</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Inventory-Reports/#getting-the-starting-inventory-count-history-report'>Starting Inventory Count History Report</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Inventory-Reports/#getting-the-warranty-loaner-inventory-listing-report'>Warranty Loaner Inventory Listing Report</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Inventory-Reports/#getting-the-warranty-loaner-product-tracking-report'>Warranty Loaner Product Tracking Report</a></div>
          <div><a href='/api/RQ-Data-Connect-Inventory-Reports/#getting-the-rma-history-invoice-report'>RMA History Invoice Report</a></div>
          <div><a href='/api/RQ-Data-Connect-Inventory-Reports/#getting-the-rma-history-product-report'>RMA History Product Report</a></div>
          <div><a href='/api/RQ-Data-Connect-Inventory-Reports/#getting-the-transfer-history-invoice-detail-report'>Transfer History Invoice Detail Report</a></div> 
          <div><a href='/api/RQ-Data-Connect-Inventory-Reports/#getting-the-transfer-history-product-detail-report'>Transfer History Product Detail Report</a></div> 
        </div>
      </span>
    </span>
    <span class='col-md-4'>
      <span class='col-md-12'>
        <a href='/api/RQ-Data-Connect-Finance-Reports'>
          <h4>Finance Reports</h4>
          <img src='http://developers.iqmetrix.com/images/rq-data-connect/finance_32.png'>
        </a>           
        <div>
          <div style='display:none'><a href='/api/RQ-Data-Connect-Finance-Reports/#getting-the-a/r-ledger-activity-report'>A/R Ledger Activity Report</a></div>
          <div style='display:none'><a href='/api/RQ-Data-Connect-Finance-Reports/#getting-the-aged-account-summary-report'>Aged Account Summary Report</a></div>
          <div style='display:none'><a href='/api/RQ-Data-Connect-Finance-Reports/#getting-the-aged-location-summary-report'>Aged Location Summary Report</a></div>
          <div style='display:none'><a href='/api/RQ-Data-Connect-Finance-Reports/#getting-the-ajb-payment-integration-transaction-report'>AJB Payment Integration Transaction Report</a></div>
          <div style='display:none'><a href='/api/RQ-Data-Connect-Finance-Reports/#getting-the-budgeting-report'>Budgeting Report</a></div>
          <div style='display:none'><a href='/api/RQ-Data-Connect-Finance-Reports/#getting-the-cash-audit-trail-report'>Cash Audit Trail Report</a></div>
          <div style='display:none'><a href='/api/RQ-Data-Connect-Finance-Reports/#getting-the-cashout-details-report'>Cashout Details Report</a></div>
          <div style='display:none'><a href='/api/RQ-Data-Connect-Finance-Reports/#getting-the-cashout-summary-report'>Cashout Summary Report</a></div>
          <div><a href='/api/RQ-Data-Connect-Finance-Reports/#getting-the-charge-back-summary-report'>Charge Back Summary Report</a></div>
          <div style='display:none'><a href='/api/RQ-Data-Connect-Finance-Reports/#getting-the-g/l-account-activity-report'>G/L Account Activity Report</a></div>
          <div style='display:none'><a href='/api/RQ-Data-Connect-Finance-Reports/#getting-the-g/l-account-list-report'>G/L Account List Report</a></div>
          <div style='display:none'><a href='/api/RQ-Data-Connect-Finance-Reports/#getting-the-gift-card-summary-report'>Gift Card Summary Report</a></div>
          <div style='display:none'><a href='/api/RQ-Data-Connect-Finance-Reports/#getting-the-incomm-activation-transaction-report'>InComm Activation Transaction Report</a></div>
          <div style='display:none'><a href='/api/RQ-Data-Connect-Finance-Reports/#getting-the-outstanding-gift-cards-report'>Outstanding Gift Cards Report</a></div>
          <div style='display:none'><a href='/api/RQ-Data-Connect-Finance-Reports/#getting-the-payment-integration-batch-report'>Payment Integration Batch Report</a></div>
          <div><a href='/api/RQ-Data-Connect-Finance-Reports/#getting-the-payment-integration-transaction-report'>Payment Integration Transaction Report</a></div>
          <div style='display:none'><a href='/api/RQ-Data-Connect-Finance-Reports/#getting-the-payment-type-audit-report'>Payment Type Audit Report</a></div>
          <div style='display:none'><a href='/api/RQ-Data-Connect-Finance-Reports/#getting-the-tax-collected-report'>Tax Collected Report</a></div>
          <div><a href='/api/RQ-Data-Connect-Finance-Reports/#getting-the-tax-details-report'>Tax Details Report</a></div>
          <div style='display:none'><a href='/api/RQ-Data-Connect-Finance-Reports/#getting-the-tax-exempt-customers-report'>Tax Exempt Customers Report</a></div>   
        </div>
      </span>
    </span>
  </div>
  <div class='row text-center'>
    <span class='col-md-4'>
      <span class='col-md-12'>
        <a href='/api/RQ-Data-Connect-Performance-Metrix-Reports'>
          <h4>Performance Metrix Reports</h4>
          <img src='http://developers.iqmetrix.com/images/rq-data-connect/performance_metrix_32.png'>
        </a>
        <div>
          <div><a href='/api/RQ-Data-Connect-Performance-Metrix-Reports/#getting-the-graphed-performance-metrix-breakdown-report'>Graphed Performance Metrics Breakdown Report</a></div> 
          <div><a href='/api/RQ-Data-Connect-Performance-Metrix-Reports/#getting-the-graphed-performance-metrix-report'>Graphed Performance Metrix Report</a></div> 
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Performance Metrix-Reports/#getting-the-graphed-productivity-report'>Graphed Productivity Report</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Performance Metrix-Reports/#getting-the-new-performance-targets'>New Performance Targets</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Performance Metrix-Reports/#getting-the-performance-group-report'>Performance Group Report</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Performance Metrix-Reports/#getting-the-performance-group-setup'>Performance Group Setup</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Performance Metrix-Reports/#getting-the-performance-metrix-report'>Performance Metrix Report</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Performance Metrix-Reports/#getting-the-performance-metrix-summary-report'>Performance Metrix Summary Report</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Performance Metrix-Reports/#getting-the-period-setup'>Period Setup</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Performance Metrix-Reports/#getting-the-productivity-score-card'>Productivity Score Card</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Performance Metrix-Reports/#getting-the-update-performance-targets'>Update Performance Targets</a></div>
        </div>
      </span>
    </span>  
    <span class='col-md-4'>
      <span class='col-md-12'>
        <!--<a href='/api/RQ-Data-Connect-Dashboard-Reports'>-->
          <h4>Dashboard Reports</h4>
          <img src='http://developers.iqmetrix.com/images/rq-data-connect/dashboard_32.png'>
        <!--</a>-->
        <div>
          <span>Coming Soon</span>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Dashboards-Reports/#getting-the-executive-dashboard'>Executive Dashboard</a>
          </div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Dashboards-Reports/#getting-the-executive-report'>Executive Report</a>
          </div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Dashboards-Reports/#getting-the-graphed-sales-contest-report'>Graphed Sales Contest Report</a>
          </div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Dashboards-Reports/#getting-the-graphed-sales-report'>Graphed Sales Report</a>
          </div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Dashboards-Reports/#getting-the-pocket-dashboard'>Pocket Dashboard</a>
          </div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Dashboards-Reports/#getting-the-store-dashboard'>Store Dashboard</a>
          </div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Dashboards-Reports/#getting-the-traffic-count-dashboard'>Traffic Count Dashboard</a>
          </div>
        </div>
      </span>
    </span>
    <span class='col-md-4'>
      <span class='col-md-12'>
        <a href='/api/RQ-Data-Connect-Utilities'>
          <h4>Utilities</h4>
          <img src='http://developers.iqmetrix.com/images/rq-data-connect/tools_32.png'>
        </a>     
        <div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Utilities/#getting-the-accounts-receivable-master-list'>Accounts Receivable Master List</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Utilities/#getting-the-employee-assignment-tool'>Employee Assignment Tool</a></div>
          <div><a href='/api/RQ-Data-Connect-Utilities/#getting-the-employee-master-list-report'>Employee Master List</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Utilities/#getting-the-employee-transfer-master-list'>Employee Transfer Master List</a></div>
          <div><a href='/api/RQ-Data-Connect-Utilities/#getting-the-location-master-list-report'>Location Master List</a></div>
          <div><a href='/api/RQ-Data-Connect-Utilities/#getting-the-location-tree-report-report'>Location Tree Report</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Utilities/#getting-the-master-lists-overview'>Master Lists Overview</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Utilities/#getting-the-multi-level-pricing-customer-master-list'>Multi-Level Pricing Customer Master List</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Utilities/#getting-the-multi-level-pricing-master-list'>Multi-Level Pricing Master List</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Utilities/#getting-the-non-stocked-product-master-list'>Non-Stocked Product Master List</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Utilities/#getting-the-product-commission-master-list'>Product Commission Master List</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Utilities/#getting-the-regular-product-master-list'>Regular Product Master List</a></div>
          <div style='display:none;'><a href='/api/RQ-Data-Connect-Utilities/#getting-the-vendor-rebate-master-list'>Vendor Rebate Master List</a></div>
        </div>
      </span>
    </span> 
  </div>
  <div class='row text-center'>
    <span class='col-md-12'>
      <span class='col-md-12'>
        <a href='/api/RQ-Data-Connect-Import'>
          <h4>Import</h4>
          <img src='http://developers.iqmetrix.com/images/rq-data-connect/Import.png'>
        </a>
        <div>
          <div><a href='/api/RQ-Data-Connect-Import/#importing-traffic-count-data-into-rq'>Importing Traffic Count Data into RQ</a></div>
        </div>        
      </span>
    </span>  
  </div>     
</div>
<hr/>
